@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(/storage/img/background.png);
}
header{
display: flex;
justify-content: space-between;
align-items: center;
padding-left: 60px;
padding-top: 60px;
padding-right: 60px;
}

.header_logo{

}

.header_logo img{

}

.header_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 54px;

}

.header_menu li{
list-style: none;

}

.header_menu li a{
font-family: "Poppins-Semibold";
color: var(--color-1);
font-size: 24px;
text-decoration: none;
display: flex;
}

.header_menu li a img{

}

.header_menu_exp{

}

.header_menu_exp img{

}

main{
display: flex;
padding-top: 45px;
padding-left: 75px;
padding-right: 75px;

}

.section_container{
display: flex;
justify-content: space-between;
gap: 500px;

}

.article_jumping{
display: flex;
flex-direction: column;
width: 680px;
}

.article_jumping h1{
color: var(--color-1);
font-family: "Poppins-SemiBold";
font-size: 100px;
line-height: 90px;

}

.article_jumping p{
color: hsla(0, 0%, 100%, 0.750);
font-family: "Poppins-Medium";
font-size: 24px;
padding-top: 26px;

}

.div_buttoms{
display: flex;
gap: 38px;
margin-top: 26px;
}

.div_buttoms a{
width: 264px;
height: 86px;
background: transparent;
border-radius: 14px;
outline: 1px solid var(--color-1);
font-family: "Poppins-Light" ;
text-align: center;
font-size: 32px;
text-decoration: none;
color: var(--color-1);
display: flex;
justify-content: center;
align-items: center;
}

.div_buttoms:hover a:hover{
backdrop-filter: blur(24px);
outline: none;
}

.article_review{
background: red;
}

.div_review_container{
background-color: var(--color-1);
border-radius: 18px;
width: 331px;
height: 288px;

}

.div_review_cards{
background-color:var(--color-1);
width:331px;
height:202px;
border-radius: 18px;
}

.div_review_profile{
}

.div_review_profile img{
width: 58px;
height: 58px;
}

.div_review_profile p{
font-family: "Poppins-Medium";
font-size: 18px;

}

.div_review_rating{

}

.div_review_rating h3{
color: var(--color-3);
font-family: "Poppins-Medium";
font-size: 28px;
}

.div_review_star{
background: palegreen;
}

.div_review_star img{
width: 21px;
height: 21px;
}
